<div class="container">
    <div class="columns">
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
      <div class="column">
          {% include 'includes/card.html' %}
      </div>
    </div>
</div>